.footer {
  margin-bottom: 24px;
}
.footer__container {
  padding-top: 16px;
  padding-bottom: 40px;
  border-top: 1px solid #bfbdb2;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  gap: 40px;
}
.footer__navigation {
  justify-self: center;
}
.footer__developers {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 7px;
  font-size: 12px;
  padding: 0;
  margin: 0;
  list-style: none;
}
/* .footer__developer {
  padding-bottom: 7px;
}
.footer__developer:last-child {
  padding-bottom: 0;
} */
.footer__developer-link {
  text-decoration: none;
  color: inherit;
}
.footer__developer-link:hover {
  text-decoration: underline;
  color: #bfbdb2;
}
.footer__copyright {
  margin: 0;
  font-size: 12px;
  line-height: 100%;
}
@media (max-width: 560px) {
  .footer__container {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .footer__navigation {
    justify-self: flex-start;
  }
  .navigation__developers {
    font-size: 10px;
  }
  .footer__navigation {
    font-size: 10px;
  }
}
