.slider {
  overflow: hidden;
  position: relative;
}
.slider__container {
  /*display: none;*/
}
.slider__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 -16px;
}
.slider__item {
  padding: 0 16px;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 25%;
}
.slider__item-active {
  max-width: 50%;
}
.slider__arrow {
  position: absolute;
  bottom: 30%;
  height: 8px;
  border: none;
  background-color: transparent;
  width: 64px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.slider__arrow:hover {
  opacity: 0.8;
}
.slider__arrow:active {
  opacity: 0.6;
}
.slider__arrow-left {
  background-image: url(../img/Arrow-left.svg);
  background-position: left;
  left: 8%;
}
.slider__arrow-right {
  background-image: url(../img/Arrow-right.svg);
  background-position: right;
  right: 8%;
}

@media (max-width: 1024px) {
  .slider__item {
    max-width: 30%;
  }
  .slider__item-active {
    max-width: 40%;
  }
  .slider__arrow {
    bottom: 12%;
  }
}

@media (max-width: 768px) {
  .slider__item {
    max-width: 25%;
  }
  .slider__item-active {
    max-width: 50%;
  }
  .slider__arrow {
    width: 40px;
    bottom: 30%;
  }
}

@media (max-width: 560px) {
  .slider {
    padding-bottom: 20px;
  }
  .slider__item {
    min-width: 100%;
  }
  .slider__arrow {
    bottom: 0;
  }
  .slider__arrow-left {
    left: 0;
  }
  .slider__arrow-right {
    right: 0;
  }
}

@media (max-width: 320px) {
}
